RewriteEngine On

# Exclude static files like .css, .js, .png, .jpg, .gif, etc. from being rewritten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg)$ [NC]
RewriteRule ^(.*)$ index.php [QSA,L]